.techSectionTit{
    margin-top: 40px;
    margin-bottom: 40px;
    /* background-color: rgba(85, 79, 79, 0.774); */
    background-color: #87a7b3;

}

.tech{
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.techIKnowTitle{
    margin-bottom: 40px;
    text-align: center;
    color: white;
    
}

.fontColor{
    color: white;
}